$background-color: rgb( 247, 230, 244 );
$text-color: rgb( 255, 0, 100 );
$text2-color: rgb( 30, 0, 100 );
$text3-color: rgb( 20, 200, 200);

body {
  color: $text-color;
  background: $background-color;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 15%;
  padding-bottom: 0;
  padding-left: 15%;

  span {
    background: $text-color;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: $background-color;
  }

  h1 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2 {
    color: $text3-color;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    color: $text2-color;
    padding-right: 30px;
    span {
      background: $text3-color;
      padding: 3px;
      color: $text2-color;
    }
  }

  ul {
      list-style-type: disc;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: $text-color;
    }
  }

  img {
    border-radius: 250px;
  }
}
